body{
		background-color: #d1d2d3;
	
}
#container {
	        
	         width:800px; 
	         height:600px;
			 border-style: solid;
			 border-color: #6186aa;
			 border-width: 25px 5px 5px 5px;
			 background-color: white;
		  }

.f2{
  margin-top: 50px;
  /* text-align: center; */
}

.row-wrapper img {
	  width: 100%;
	  /* height: auto; */
}

#md-flag {
	  padding: 35px 25px 25px 25px;
}

#umd-logo {
	  padding: 15px;
}

.row-wrapper div.row {
	  text-align: center;
	  height: 40px;
}


.row-1 {
	padding-top: 4%;
	text-shadow: 3px 3px #dce2df;
	font-size: 24px;
	margin-bottom: 2%;
	font-weight: bold;
}

.row-2 {
	font-weight: bold;
	text-shadow: 4px 4px #dce2df;
	color: #31adff;
	font-size: 35px;
}

.btn-start {
	text-align: center;
}