body {
    background-color: #d1d2d3;
}
#container {
    width:800px;
    height:600px; 
    border-style: solid;
    border-color: #6186aa;
    border-width: 25px 5px 5px 5px;
}
#form-size {
    width: 790px;
    height: 570px;
}
#checkbox-size {
    width: 780px;
    height: 425px;
}
#tab-size {
    width: 365px;
    height: 225px;
}
label.type {
    width: 180px;
}
.item {
    font-size: 16px;
}
.tab_label {
    font-size: 22px;
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
}
.color-bar {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text {
    font-size: 18px;
    text-align: center;
}
#file_info {
    font-size: 16px;
}
#uploadedfile {
    width: 600px !important;
    display: block;
    margin: auto !important;
}
#start_time, #end_time {
    display: block;
    margin: auto !important;
    font-size: 16px;
    width: 250px !important;
    background: transparent !important;
}
#optional_top {
    width: 600px;
    height: 50px;
    margin: auto;
    border: 3px solid black;
    background-color: lightskyblue;
}
#optional_bottom {
    width: 600px;
    margin: auto; 
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}
#upper_div {
    background-color: rgba(255, 162, 0, 0.25);
    border: 2px solid black;
    height: 110px;
}
#left_div_40 {
    background-color: rgba(235, 244, 229, 255);
    border: 2px solid black;
    width: 39%;
    height: 260px;
    float: left;
    padding: 5px;
    padding-right: 5px;
}
#right_div_60 {
    background-color: rgba(235, 244, 229, 255);
    border: 2px solid black;
    width: 59%;
    height: 350px;
    float: right;
    padding: 5px;
    padding-left: 5px;
}
#evaluation {
    margin-top: 24px !important;
    margin-left: 20px;
    text-align: left;
}
#info_box {
    background-color: rgba(255, 162, 0, 0.25);
    border: 2px dotted black;
    margin-top: 5px;
    width: 39%;
    height: 120px;
    float: left;
    padding: 5px;
}
table, th, td {
    font-size: 16px;
    border:1px solid black;
    text-align: center;
}
table {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
}
tr {
    height: 61.5px;
}
#info_list {
    padding-left: 14px;
    font-size: 16px;
}
#info_list_ele {
    margin-top: 8px;
}
#note_list {
    margin-top: 0px;
    padding-left: 20px;
    font-size: 16px;
}
.note_list_ele {
    margin-top: 4px;
}
#note_list_label {
    margin: 0px;
}
label {
    font-size: 18px;
}
#total_faulty {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 22px;
    margin-left: 20px;
    text-align: left;
}
#replace_box, #calibrate_box, #good_box {
    display: inline;
    width: 70px !important;
    height: 16px;
}
#m, #f {
    margin: 0px;
}
.download_L, .download_M, .download_R {
    border: 4px solid black;
    display: inline-block;
    width: 243.33px;
    height: 200px;
    margin: 5px;
    margin-top: 50px;
    padding: 10px;
    float: left;
}
.download_L {
    background-color: rgba(208, 206, 206, 255);
}
.download_M {
    background-color: rgba(216, 226, 243, 255);
}
.download_R {
    background-color: rgba(168, 208, 140, 255);
}
.download_radio {
    margin-top: 25px;
    margin-left: 10px;
}